.navbar-light .navbar-brand {
  font-weight:700;
  font-size:18px;
}

#navcol-1 {
  font-size:12px;
  font-weight:700;
}

.nav-item {
  padding-left:5px;
  padding-right:5px;
}

#first_text {
  font-weight:700;
  font-size:20px;
  text-shadow:1px 1px 15px rgba(255,255,255,0.7);
}

.adaptfont1824 {
  font-size:18px;
}

@media (min-width: 576px) {
  .adaptfont1824 {
    font-size:24px;
  }
}

.adaptfont1821 {
  font-size:18px;
  font-weight:700;
  letter-spacing:0px;
}

.adaptfont2430 {
  font-size:24px;
  font-weight:700;
  letter-spacing:5px;
}

.adaptfont2632 {
  font-size:26px;
  font-weight:700;
  letter-spacing:5px;
}

@media (min-width: 576px) {
  .adaptfont1821 {
    font-size:20.8px;
  }
}

@media (min-width: 576px) {
  .adaptfont2632 {
    font-size:34px;
  }
}

@media (min-width: 576px) {
  .adaptfont2430 {
    font-size:30px;
  }
}

#ppal {
}

#logo {
  padding-top:5px;
  padding-bottom:5px;
}

#agency {
  padding-bottom:20px;
}

#about_tour {
  background-color:rgba(255,255,255,0.8);
  padding-top:50px;
  padding-bottom:50px;
}

.colored {
  background-color:rgba(255,106,26,0.95);
  color:rgba(255,255,255,1);
}

.gallitem:nth-child(2n + 1) {
  background-color:rgba(255,106,26,0.95);
  color:rgba(255,255,255,1);
}

.gallitem:nth-child(2n) {
  background-color:rgba(255,255,255,1);
  color:rgba(255,106,26,0.95);
}

.pale {
  background-color:rgba(255,255,255,1);
  color:rgba(255,106,26,0.95);
}

.about-link {
  color:rgb(68,68,68);
  padding-left:10px;
  text-decoration:none;
  font-size:18px;
}

.contact-link {
  color:rgb(255,255,255);
  padding-left:10px;
  text-decoration:none;
}

.about-link:hover {
  color:rgb(68,68,68);
  padding-left:10px;
  text-decoration:none;
}

.contact-link:hover {
  color:rgb(255,255,255);
  padding-left:10px;
  text-decoration:none;
}

.gallery-link {
  color:#007bff;
  text-decoration:none;
  font-size:135%;
}

.gallery-link:hover {
  color:#007bff;
  text-decoration:none;
  font-size:135%;
}

.about-icon {
  font-size:19px;
}

.contact-icon {
  font-size:19px;
}

.parallax {
  background-repeat:no-repeat;
  background-size:cover !important;
  background-position:center;
  background-attachment:fixed;
}

.footer {
  background-color:#ffffff;
  color:#4b4c4d;
  padding-top:20px;
  padding-bottom:20px;
}

.footer .copyright {
  margin-top:10px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

#contact {
  color:rgb(255,255,255);
}

.about-contact-data {
  margin:5px auto 10px auto;
  display:table;
}

.contact-data {
  margin:5px 0 10px 0;
  display:table;
}

@media (min-width: 992px) {
  .contact-data {
    margin:5px auto 10px auto;
    display:table;
  }
}

#faq {
  color:rgb(255,255,255);
}

.cover-dynamic-padding {
  padding-bottom:100px;
  padding-top:80px;
}

.dynamic-padding {
  padding-bottom:40px;
  padding-top:40px;
}

@media (min-width: 576px) {
  .cover-dynamic-padding {
    padding-bottom:175px;
    padding-top:140px;
  }
}

@media (min-width: 576px) {
  .dynamic-padding {
    padding-bottom:70px;
    padding-top:70px;
  }
}

#benefits {
  color:rgb(255,255,255);
}

#sectors {
  color:rgb(255,255,255);
}

#clients {
  /*color:rgba(255,106,26,0.95);*/
  color:black;
}

.gallelem-subtitle {
  margin-bottom:5px;
  margin-top:-5px;
}

.gallelem-title {
  margin-bottom:0px;
}

.section-title {
  margin-bottom:30px;
}

.dynamic-navbar {
  min-height:60px;
}

@media (min-width: 576px) {
  .dynamic-navbar {
    min-height:80px;
  }
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:rgb(68, 68, 68);
}

.info-card-group {
  margin-top:15px;
}

.info-card {
  border-radius:.25rem;
  -ms-flex:1 0 0%;
  flex:1 0 0%;
  margin-bottom:15px;
  position:relative;
  display:flex;
  background-color:rgba(255,255,255,0.86);
  background-clip:border-box;
  border:1px solid rgba(0,0,0,.125);
  border-radius:.25rem;
}

.info-card:last-child {
  margin-bottom:0;
}

.info-card-body {
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  padding:1.25rem;
}

.info-card-benefits {
  color:rgb(68, 68, 68);
  font-size:16px;
  font-weight:normal;
  margin-bottom:0em;
}

.info-card-title {
  color:rgb(68, 68, 68);
  font-size:16px;
  font-weight:700;
  margin-bottom:0em;
}

.info-card-text {
  color:rgb(68, 68, 68);
  font-size:14px;
  font-weight:300;
  margin-bottom:0;
  margin-top:0.5rem;
  padding-top:0.5rem;
  text-align:justify;
}

.visits-text {
  font-size:100%;
  font-variant:small-caps;
}

.visits {
  font-size:140%;
}

@media (min-width: 576px) and (max-width:767px) {
  .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
    padding-right:15px;
    padding-left:15px;
  }
}

.btn-circle {
  width:60px;
  height:60px;
  /*text-align:center;*/
  padding:6px 0;
  font-size:31px;
  /*line-height:1.42;*/
  border-radius:30px;
}

@media (max-width: 575px) {
  .btn-circle {
    width:45px;
    height:45px;
    padding:5px 0;
    font-size:24px;
    border-radius:23px;
  }
}

.btn-circle-wapp {
  padding:0;
  font-size:38px;
}

@media (max-width: 575px) {
  .btn-circle-wapp {
    padding:1px 0;
    font-size:29px;
  }
}

.btn-circle-wapp-shadow {
  padding:0;
  font-size:38px;
  box-shadow:2px 2px 3px #999;
}

@media (max-width: 576px) {
  .gall-services-card {
    padding:7px 4pc;
    position:relative;
    text-align:center!important;
  }
}

@media (max-width: 575px) {
  .gall-client-card {
    padding:7px 4pc;
    position:relative;
    text-align:center!important;
  }
}

@media (max-width: 575px) {
  .gall-photo-card {
    padding:7px 30px;
    position:relative;
    text-align:center!important;
  }
}

@media (min-width: 576px) {
  .gall-service-card {
    text-align:center!important;
    padding:5px 5px;
    position:relative;
  }
}

@media (min-width: 576px) {
  gall-services-card {
    text-align:center!important;
    padding:5px 5px;
    position:relative;
  }
}

@media (min-width: 992px) {
  .gall-services-card {
    text-align:center!important;
    padding:4pc;
    position:relative;
  }
}

@media (min-width: 577) and (max-width: 991px) {
  .gall-services-card {
    text-align:center!important;
    padding:1pc;
    position:relative;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .gall-client-card {
    text-align:center!important;
    padding:1pc;
    position:relative;
  }
}

@media (min-width: 992px) {
  .gall-client-card {
    text-align:center!important;
    padding:2pc;
    position:relative;
  }
}

@media (min-width: 576px) {
  .gall-photo-card {
    text-align:center!important;
    padding:5px 5px;
    position:relative;
  }
}

.gall-photo-body {
  min-width:100%;
  position:relative;
  padding-top:100%;
  background-position:50% 50%;
  background-size:cover;
  background-repeat:no-repeat;
}

.gall-photo-link {
  display:block;
  min-width:100%;
  height:100%;
  position:absolute;
  top:0;
}

.gall-photo-textbox {
  position:absolute;
  bottom:0%;
  left:50%;
  transform:translate(-50%, -0%);
  text-align:center;
  width:100%;
  background-color:rgba(20,20,20,0.4);
  padding:4% 0;
}

.gall-photo-textbox h5 {
  color:white;
  margin:0;
  margin-bottom:1%;
}

.gall-photo-textbox p {
  color:white;
  margin:0;
  font-variant:small-caps;
  font-weight:500;
}

@media (max-width: 575px) {
  .gall-photo-hide {
    display:none;
  }
}

ul.paq-list li {
  margin-bottom:10px;
}

.paq-list {
  padding-left:20px;
  text-align:left;
  font-size:16px;
}

